streamlit==1.10.0
numpy==1.21.2
matplotlib==3.5.2
tensorflow==2.8.0
keras==2.8.0
json==2.0.9
os==3.8.1
random==1.0.2
matplotlib-colorbar==1.0.1
matplotlib-patches==3.5.2
PIL==9.1.1
base64==0.16.0
plotly==4.14.3
ipywidgets==7.6.5
